header  {
    position: fixed;
    width: 98%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    border: 1px solid var(--accent2);
    box-shadow: 0 1px 5px var(--accent);
    z-index: 1000;
    border-radius: 40px;
    top: 0;
    left: 0;
    margin: 1% 5% 0 1%;
}
.main {
    height: 100vh;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
}
.logo .og-logo {
    font-size: 28px;
    font-weight: 900;
    font-family: 'Orbitron', sans-serif; /* Tech font */
    color: var(--accent);
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.7s;
}
.logo .og-logo:hover {
    color: var(--text);
    text-shadow: 0 0 10px var(--accent);
}
.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
    transition: 0.7s;
}
.nav-links a {
    text-decoration: none;
    color: var(--text);
    font-size: 16px;
    transition: 0.7s;
    padding: 10px 16px;
    border-radius: 7px;
}
.nav-links a:hover {
    color: var(--bg);
    background: var(--text);
}
.active-btn a {
    padding: 8px 14px;
    border: 2px solid var(--text);
    border-radius: 7px;
    transition: 0.3s;
    background: var(--text);
    color: var(--bg);
}
.active-btn a:hover {
    color: var(--bg);
    box-shadow: 0 0 35px var(--accent);
}
.theme-toggle {
    margin-left: 20px;
    position: relative;
}
#modeSwitch {
    display: none;
}
.toggle-label {
    width: 45px;
    height: 22px;
    background: var(--accent);
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.toggle-label::after {
    content: "";
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 3px;
    transition: 0.3s;
}
.toggle-label i {
    padding: 0 3px;
}
body.dark .toggle-label::after {
    transform: translateX(22px);
}
footer {
    text-align: center;
    padding: 70px 20px;
    border-top: 1px solid var(--accent);
    color: var(--text);
}
.footer-socials {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.footer-socials a {
    text-decoration: none;
    color: var(--accent);
}
.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}
.menu-icon span {
    width: 28px;
    height: 3px;
    background: var(--text);
    border-radius: 3px;
    transition: 0.3s;
}
@media (max-width: 820px) {
    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        background: var(--bg);
        height: 100vh;
        width: 70%;
        padding-top: 120px;
        flex-direction: column;
        align-items: center;
        gap: 35px;
        border-left: 1px solid var(--border);
        transition: 0.4s ease;
        z-index: 10;
    }
    .nav-links.open {
        right: 0;
    }
    .menu-icon {
        display: flex;
    }
}